<div class="flex items-center justify-center py-6 bg-ivory" style="opacity: 1;">
    <span class="h-px bg-primary/30 w-16 md:w-24"></span><span
        class="mx-4 text-primary/50 text-lg font-script">♥</span
    ><span class="h-px bg-primary/30 w-16 md:w-24"></span>
</div>
