---
import ArrowDown from './ArrowDown.astro';
---

<section
  class="flex items-center h-full relative before:absolute before:inset-0 before:bg-black/30 before:z-10 mask-b-from-95% mask-b-from-black mask-b-to-transparent"
>
  <img
    class="w-dvw h-dvh object-cover"
    src="/src/assets/arantxa_y_luis.webp"
    alt="Arantxa y Luis en una moto con un lago como fondo en el que aparece una cruz."
  />
  <!-- <video
    autoplay
    muted
    loop
    class="w-full h-dvh object-cover mask-b-from-90% mask-b-to-transparent"
  >
    <source src="src/assets/flower-background.mp4" type="video/mp4" />
    Tu navegador no soporta la etiqueta de video.
  </video> -->

  <div class="absolute flex inset-0 items-center justify-center z-20">
    <div
      class="flex flex-col items-center justify-center text-center px-8 max-w-xl mx-auto relative"
    >
      <p
        class="text-5xl md:text-6xl text-white mb-6 font-[great-vibes] text-shadow-[rgba(60,40,30,0.3)_0.5px_0.5px_0px,rgba(60,40,30,0.1)_-0.3px_0.3px_0px]"
      >
        Reserva de fecha
      </p>
      <h1
        class="text-4xl md:text-5xl tracking-[0.15em] text-white uppercase mb-6 font-[playfair-display]"
      >
        Arantxa & Luis
      </h1>
      <p class="text-4xl md:text-5xl text-white mb-8 font-[great-vibes]">
        ¡Nos casamos!
      </p>
      <div
        class="flex items-center justify-center gap-4 text-white mb-2 opacity-[1] transform-none"
      >
        <span
          class="font-[playfair-display] text-md md:text-2xl tracking-widest"
          >JULIO</span
        >
        <span class="text-white">|</span>
        <span class="font-[playfair-display] text-2xl md:text-4xl">11</span>
        <span class="text-white">|</span>
        <span
          class="font-[playfair-display] text-md md:text-2xl tracking-widest"
          >SÁBADO</span
        >
      </div>
      <p
        class="font-[playfair-display] text-base md:text-3xl text-white tracking-widest"
        style="text-shadow: rgba(40, 30, 20, 0.3) 0.2px 0.2px 0.3px; opacity: 1;"
      >
        2026
      </p>
      <button
        class="absolute -bottom-20 flex flex-col items-center gap-2 text-foreground/50 hover:text-primary transition-colors cursor-pointer"
        style="opacity: 1;"
      >
        <span
          class="text-[10px] tracking-[0.3em] uppercase font-body font-light"
          >Confirma asistencia</span
        >
        <div class="animate-bounce">
          <ArrowDown />
        </div>
      </button>
    </div>
  </div>
</section>
